body {

    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    line-height: 1.6;

    background: url("../images/ik.png")  no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

main{
    overflow: hidden;
}

.hide{
    display: none;
}


/*---------------------------------ШАПКА---------------------------------------------*/


.header {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;

    background-color: #47c4d5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #47c4d5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/*--------------------------------Навигация-------------------------------------------------------*/
.nav {
    font-size: 26px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/*------------------------------------Выпадающая кнопка с пользователем-------------------------------------------------------------------------------------------------------*/

.dropbtn {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.dropbtn::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;

}
.dropbtn:hover {
    color: #fce38a;
}
.dropbtn:hover:after,
.dropbtn.active:after{
    opacity: 1;
}
.dropbtn.active{
    color: #fce38a;
}

/* Контейнер <div> — необходим для позиционирования выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (по умолчанию скрыто) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

/* Меняем цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #ddd}

/* Показать раскрывающееся меню (используйте JS, чтобы добавить этот класс в контейнер .dropdown-content, когда пользователь нажимает кнопку раскрывающегося списка) */
.show {display:block;}

/*Логотип в выпадающем меню (по умолчанию скрыто)*/
.mono_man{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/*---------------------------------------------------------Интро--------------------------------------------------------------------------- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    min-height: 450px;
    position: relative;


}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Montserrat'
}


.intro__title:after {
    content: "";
    display: block;
    width: 610px;
    height: 3px;
    margin: 10px 140px;

    background-color: #fff;
}

.btn{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Montserrat';
    text-decoration: none;
}

/*---------------------------------------------------------------Cтрока поиска----------------------------------------------------------------------*/

.wrap{
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0);
}

.input[type=search]{
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
/*---------------------------------------------------------------Страница с контентом-----------------------------------------------------------------*/

.workspace{

    left: 100px;
    top: 750px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);

}



.tree{
    position: relative;
    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    word-wrap: break-word;

}
.tree li{
    width: 100%;
    list-style-type: none;
}


/*-----------------------------------------------------------------Вертикальное меню------------------------------------------------------*/

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-size: 20px;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    background: #fff;
    float: left;
    padding: 40px 40px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 100%;
}

.tabcontent h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.download{
    margin-top: 30px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
}

.download:hover {
    background-color: RoyalBlue;
  }

.table {
    width: 100%;
    margin-top: 40px;
}

.table td{
    padding-left: 50px; ;
    padding-top: 50px;
}