body {

    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    line-height: 1.6;

    background: url("../images/ik.png")  no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

main{
    overflow: hidden;
}

.hide{
    display: none;
}


/*---------------------------------ШАПКА---------------------------------------------*/


.header {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;

    background-color: #47c4d5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #47c4d5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Навигация */
.nav {
    font-size: 26px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/*------------------------------------Выпадающая кнопка с пользователем-------------------------------------------------------------------------------------------------------*/

.dropbtn {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.dropbtn::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;

}
.dropbtn:hover {
    color: #fce38a;
}
.dropbtn:hover:after,
.dropbtn.active:after{
    opacity: 1;
}
.dropbtn.active{
    color: #fce38a;
}

/* Контейнер <div> — необходим для позиционирования выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (по умолчанию скрыто) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

/* Меняем цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #ddd}

/* Показать раскрывающееся меню (используйте JS, чтобы добавить этот класс в контейнер .dropdown-content, когда пользователь нажимает кнопку раскрывающегося списка) */
.show {display:block;}

/*Логотип в выпадающем меню (по умолчанию скрыто)*/
.mono_man{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*---------------------------------Интро--------------------------------------------- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    min-height: 450px;
    position: relative;


}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Montserrat', cursive;
}


.intro__title:after {
    content: "";
    display: block;
    width: 610px;
    height: 3px;
    margin: 10px 140px;

    background-color: #fff;
}

.btn{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Montserrat';
    text-decoration: none;
}




/*------------------------------------Страница с контентом-------------------------------------------*/
.workspace{

    left: 100px;
    top: 750px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*-----------------------------------Cтрока поиска---------------------------------------------------*/
.wrap{
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0);
}

.input[type=search]{
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  



  /*------------------------------------------------ Основной контент страницы----------------------------------------------------*/
.content{
    width: auto;
    height: auto;

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: rgb(0, 0, 0);
    background: white;

}

.tree{
    position: relative;
    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    word-wrap: break-word;

}
.tree li{
    width: 100%;
    list-style-type: none;
}



.footer {
   margin-top: auto;
}

.caret {
    cursor: pointer;
    user-select: none; /* Запретить выделение текста */
  }
  
  /* Создайте курсор/стрелку с юникодом, и стиль его */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 16px;
  }
  
  /* Поверните значок курсора/стрелки при нажатии (с помощью JavaScript) */
  .caret-down::before {

    transform: rotate(90deg);
  }
  
  /* Скрыть вложенный список */
  .nested {
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: none;
  }
  
  /* Показать вложенный список, когда пользователь нажимает на курсор стрелку (с JavaScript) */
  .active {
    display: block;
  }
  


/*---------------------------------------------------Аккордеон(?)------------------------------------------------------------------------------*/
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    font-weight: 400;
    font-size: 22px;
}
.panel p {
    position: relative;
    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    font-family: 'Times New Roman', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.accordion:before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 16px;
  }

/* Добавляем цвет фона к кнопке при нажатии (добавьте класс .active с помощью JS), и когда вы наводите на нее указатель мыши (наведение) */
.active, .accordion:hover {
    background-color: #ccc;
}

.active::before{
    transition: all 0.2s ease-out;
    transform: rotate(90deg);
}

/* Стиль панели аккордеона. Примечание: по умолчанию скрыто */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/*-------------------------------------------------------------анимированная кнопка------------------------------------------------------------------------------*/

.button {
    border-radius: 4px;
    background-color: rgba(0, 133, 255, 0.83);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .registerbtn {
    font-size: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  

  .registerbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    transform: rotate(90deg);
  }
  .registerbtn:hover{
    background-color: #ccc;
  }

  .registerbtn:hover span {
    padding-right: 25px;

  }
  .registerbtn:hover span:after {
    opacity: 1;
    right: 0;

  }