body {
    min-width: 1025px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 75px;
    padding: 0 10%;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 75px;
}


nav ul {

    list-style-type: none;
    color: black;
}

nav ul li {
    display: inline-block;
    padding: 20px 30px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a.button {
    color: white;
    background-color: #4c78b3;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
}

nav a.button:hover {
    background-color: #5484c4;
}

.best-app {
    height: 60vh;
    padding: 0 10%;
    background-image: url(images/main-background.png);
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

.best-app h1 {
    font-size: 50px;
    padding-top: 5%;
    width: 35%;
}

.best-app p {
    font-size: large;
    width: 35%;
    padding-bottom: 20px;
}

a.button {
    text-decoration: none;
    color: white;
    background-color: #5484c4;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
}

a.button:hover {
    background-color: #6197df;
}

p.OS {
    padding-top: 10px;
    color: rgb(114, 111, 111);
}

h2 {
    text-align: center;
}

.why {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

figure {
    width: 350px;
}

figure img {
    width: 350px;
    border-radius: 5px;
}

span {
    color: rgb(114, 111, 111);
}

span a:link{
    color: rgb(114, 111, 111);
}

span a:visited {
    color: rgb(114, 111, 111);
}

h4 {
    text-align: center;
}

h4 a:visited {
    color: black;
}

footer {
    text-align: center;
    padding: 10px 10%;
    color: white;
    background-color: rgb(44, 44, 44)
}